body {
    font-family: "Comic Sans MS", sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.line {
    margin-top: 5px;
    padding: 5px;
}

.button {
    display: flex;
    justify-self: center;
    align-content: center;
    text-align: center;
}

.button input[type="submit"] {
    font-size: 20px;
}

