body {
    font-family: "Comic Sans MS", sans-serif;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.user-info {
    background-color: lightblue;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-top: 20px;
}

.button {
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: darkblue;
}

.label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

.success-message {
    color: #4caf50;
    font-weight: bold;
}

.error-message {
    color: #f44336;
    font-weight: bold;
}

.line {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    padding: 2px;
}

.user_button {
    margin-top: 15px;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 3px 10px 3px 10px;
    font-size: 18px;
    font-family: "Comic Sans MS", sans-serif;
}